@import url("https://fonts.googleapis.com/css?family=Inconsolata");
* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif; }

body {
  background-color: #b2b16c; }
  body .topOfNav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    body .topOfNav img {
      max-height: 78px; }

#navigation {
  padding: 0 20px;
  margin: 0 auto;
  font-family: Inconsolata;
  max-width: 960px;
  background-color: #3c3f42;
  height: 30px; }
  #navigation ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    height: 100%; }
    #navigation ul li {
      padding-top: 5px;
      display: block;
      box-sizing: border-box;
      width: 90px;
      text-align: center; }
      #navigation ul li:hover {
        background-color: #191a1c; }
      #navigation ul li a {
        text-decoration: none;
        color: #fff; }
      #navigation ul li ul {
        background-color: #3c3f42;
        display: block; }
        #navigation ul li ul li:hover {
          background-color: #0d0d0f; }
    #navigation ul .menu-item-has-children {
      position: relative; }
      #navigation ul .menu-item-has-children ul {
        height: auto;
        position: absolute;
        top: 28px; }
        #navigation ul .menu-item-has-children ul li {
          padding: 5px 0 2px 0; }

.main-stuff {
  margin: 0 auto;
  max-width: 960px;
  background-color: #e7e6d0;
  padding: 20px;
  border-radius: 5px; }

.aside {
  margin: 0 auto;
  max-width: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px 5px 20px; }
  .aside h2 {
    border-bottom: 1px solid #000; }
  .aside ul {
    list-style-type: none; }
    .aside ul li {
      margin-top: 7px; }
  .aside a {
    text-decoration: none;
    color: #57572e; }

#widgets {
  margin: 10px auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px; }
  #widgets:last-child {
    margin-right: 0px; }
  #widgets section {
    max-width: 500px; }
  #widgets a {
    text-decoration: none;
    color: #000; }
  #widgets h2 {
    border-bottom: 1px solid #000; }
  #widgets ul {
    list-style-type: none;
    margin-right: 15px; }
    #widgets ul li:hover {
      background-color: #b3b3b3; }

.main-stuff .cats {
  max-width: 600px; }
  .main-stuff .cats ul {
    list-style-type: none; }
  .main-stuff .cats a {
    text-decoration: none;
    color: #252513; }
  .main-stuff .cats article {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px 5px 30px;
    margin-bottom: 30px; }
    .main-stuff .cats article .theTitle {
      border-bottom: 1px solid #000; }
    .main-stuff .cats article small {
      color: #57572e; }
      .main-stuff .cats article small li {
        color: inherit; }
  .main-stuff .cats ol {
    margin-left: 30px; }
.main-stuff .sidenav {
  float: right; }

.about-contents ul {
  list-style-type: none; }
.about-contents a {
  text-decoration: none;
  color: #252513; }
.about-contents article {
  width: 58%;
  background-color: white;
  border-radius: 5px;
  padding: 15px 30px 5px 30px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  float: right; }
  .about-contents article .theTitle {
    border-bottom: 1px solid #000; }
  .about-contents article small {
    color: #57572e; }
    .about-contents article small li {
      color: inherit; }
.about-contents ol {
  margin-left: 30px; }
.about-contents #spotlight-about-image {
  max-width: 300px; }

.social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.post-excerpt p {
  float: right;
  max-width: 70%; }
.post-excerpt .read-more {
  float: none;
  text-align: right;
  max-width: 100%; }

footer {
  background-color: #57572e;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 960px; }
  footer .footnav {
    display: flex;
    justify-content: space-between; }
    footer .footnav h3 {
      text-decoration: underline; }
    footer .footnav p {
      background-color: #fff;
      max-width: 100px;
      padding: 3px 20px 2px 5px; }
      footer .footnav p img {
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    footer .footnav a {
      text-decoration: none;
      color: #fff; }
      footer .footnav a:hover {
        color: #bfbfbf; }
    footer .footnav ul {
      list-style-type: none; }
  footer .smol {
    margin-top: 10px; }
    footer .smol small {
      display: block;
      text-align: center; }

#page-identification {
  color: #cccc9e; }

/*# sourceMappingURL=nav.css.map */
